.view-headers {
    text-align: left;
}

.view-headers h1 {
    display: flex;
    font-size: 2em !important;
    align-items: flex-end;
}

.view-details {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem 2rem 0 2rem;
}

.total-percent-difference {
    display: flex;
    justify-self: end;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.time-span-section {
    display: inline-block;
    color: gray;
    position: relative;
}

.time-span-label {
    font-size: 1em;
    float: right;
    user-select: none;
    cursor: pointer;
}

.time-span-menu-btn {
    display: none;
}

.time-span-menu-btn:checked ~ .time-span-menu {
    max-height: 10.4rem;
}

.time-span-menu {
    position: absolute;
    list-style: none;
    overflow: hidden;
    clear: both;
    right: -1.2rem;
    top: 1rem;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.time-span-menu li {
    text-align: left;
    user-select: none;
    background-color: #FFF;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.time-span-menu li:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.time-span-menu li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid lightgray;
}

.time-span-menu li:hover {
    background-color: whitesmoke;
}