.home h3 {
    color: gray;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin: 0;
}

.home h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

.home button {
    display: inline-block;
    text-align: center;
    margin: 0.5rem;
    border: solid 1px lightgray;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    padding: 1rem 2rem 1rem 2rem;
    float: right;
}

.home button:hover {
    cursor: pointer;
}

.new-view-button {
    background-color: #FFF;
}

.new-view-button:hover {
    background-color: lightgray;
}

.create-report-button {
    color: #FFF;
    padding-left: 4rem !important;
    background-color: steelblue;
    margin-right: 0 !important;
}

.create-report-button:hover {
    background-color: #3666a8;
}

.create-report-section {
    color: #FFF;
    position: relative;
}

.create-report-section:hover {
    cursor: pointer;
}

.create-report-section:hover .create-report-button {
    background-color: #3666a8;
}

.plus-icon {
    top: 0.8rem;
    right: 13rem;
    position: absolute;
}

.overview-headers {
    text-align: left;
}

.overview-dashboard {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 2rem;
}

.views-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.view {
    background-color: #FFF;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1); 
}