.app {
    text-align: center;
}

.content {
    font-size: 1.5rem;
    width: 75rem;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1007px) {
    .content {
        width: 60rem;
    }

    #view-graph3 {
        height: 14.3rem !important;
    }

    .time-span-menu {
        width: 10.7rem;
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 50rem;
    }

    #view-graph3 {
        height: 11.8rem !important;
    }
}