.modal {
    width: 60rem;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -250px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5); 
    z-index: 999;
}

.modal-content {
    padding: 3rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.modal-header h1 {
    margin: 0;
}

.modal-header svg {
    cursor: pointer;
    color: gray;
}

.view-form {
    margin-bottom: 2rem;
}

.view-form p, .view-form button {
    font-size: 1.5rem;
}

.new-view-error {
    color: red;
    grid-column: 1 /span 2;
    text-align: center;
    display: none;
}